mixin a_social(a_title, a_href, a_class="", a_protocol="https")
  p=(a_title || "") + ": "
    a(href=`${a_protocol}//${a_href}` target='_blank' class=a_class)
      if block
        block 

mixin a_li_social(social_type, username)
  -
    const socials_url_getters = {
      dribbble(uname) {
          return {
            class: "fa-dribbble",
            title: "Dribble link",
            href: "https://dribbble.com/"+uname,
          }
        },
      facebook(uname) {
          return {
            class: "fa-facebook",
            title: 'Facebook link',
            href: "https://www.facebook.com/"+uname,
          }
        },
      linkedin(uname) {
          return {
            class: "fa-linkedin",
            title: 'Linkedin link',
            href: "https://www.linkedin.com/in/"+uname,
          }
        },
      flickr(uname) {
          return {
            class: "fa-flickr",
            title: 'Flickr link',
            href: "https://www.flickr.com/photos/"+uname,
          }
        },
      github(uname) {
          return {
            class: "fa-github",
            title: 'Github link',
            href: "https://github.com/"+uname,
          }
        }, 
      stackoverflow(uname) {
          return {
            class: "fa-stack-overflow",
            title: 'Stackoverflow link',
            href: "https://stackoverflow.com/users/"+uname,
          }
        }, 
      instagram(uname) {
          return {
            class: "fa-stack-overflow",
            title: 'Instagram link',
            href: "https://www.instagram.com/"+uname,
          }
        }, 
      xing(uname) {
          return {
            class: "fa-xing",
            title: 'Xing link',
            href: "https://www.xing.com/profile/"+uname,
          }
        }, 
      pinterest(uname) {
          return {
            class: "fa-pinterest",
            title: 'Pinterest link',
            href: "https://www.pinterest.com/"+uname,
          }
        }, 
      twitter(uname) {
          return {
            class: "fa-twitter",
            title: 'Twitter link',
            href: "https://twitter.com/"+uname,
          }
        }, 
      youtube(uname) {
          return {
            class: "fa-youtube",
            title: 'Youtube link',
            href: "https://www.youtube.com/"+uname,
          }
        }, 
      orcid(uname) {
          return {
            class: "fa-orcid",
            title: 'ORCiD link',
            href: "https://orcid.org/"+uname,
          }
        }, 
      google(uname) {
          return {
            class: "fa-orcid",
            title: 'Google link',
            href: "https://scholar.google.com/citations?user="+uname,
          }
        }, 
      }
  - let link_info = socials_url_getters[social_type] ? socials_url_getters[social_type](username) : undefined
  if link_info
    li
      a.button.button--sacnite.button--round-l(target='_blank' href=link_info.href)
        i.fab(class=link_info.class title=link_info.title)


.container.header-container
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-8.header-left
      h1=name
      h2=position
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.header-right
      if social
        ul.icons.no-print
          each social_info, social_type in social
            +a_li_social(social_type, social_info.username)
        each social_links_info, social_link_type in social
          if ["email", "phone", "websocial"].includes(social_link_type)
            -
              const defaultTitles = {
                email: "Email",
                phone: "Phone",
                websocial: "Websocial",
              }
            +a_social(social_links_info.title || defaultTitles[social_link_type], social_links_info.href)=social_links_info.href