include mixins/a

.container.header-container
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-8.header-left
      h1=name
      h2=position
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.header-right
      if social
        ul.icons.no-print
          each social_info, social_type in social
            +a_li_social(social_type, social_info.username)
        each social_link_info, social_link_type in social
          //-  TODO: create mixin or function or something 
          if ["email", "phone", "websocial"].includes(social_link_type)
            -
              const _socialLinkDefaults = {
                email: {
                  defaultTitle: "Email",
                  defaultProtocol: "mailto",
                },
                phone: {
                  defaultTitle: "Phone",
                  defaultProtocol: "phone",
                },
                websocial: {
                  defaultTitle: "Websocial",
                  defaultProtocol: "https",
                },
              }
              const _linkDefaults =  _socialLinkDefaults[social_link_type]
              const _title = social_link_info.title || _linkDefaults.defaultTitle
              const _protocol = social_link_info.protocol || _linkDefaults.defaultProtocol
            +a_href()(title=_title url=social_link_info.href protocol=_protocol params=social_link_info.params)