include a

mixin project_common(item)
  if item.title
    h4=item.title
  if item.company
    h4=item.company
  if item.link
    +a_href()(url=item.link class="link")
  if item.job_title 
    p
      b=item.job_title
  if item.qualification
    p
      b=item.qualification
  if item.dates 
    p=item.dates
  if item.jobs
    each job in item.jobs
      p
        b=job.title
      p=job.dates
  if item.github 
    p.no-print
      a(href="https://github.com/"+item.github target="_blank")
        i.fa.fa-github(title=item.name+" Github link")
  if item.gitlab 
    p.no-print
      a(href="https://gitlab.com/"+item.gitlab target="_blank")
        i.fa.fa-gitlab(title=item.name+" Gitlab link")


mixin project(item)
  - let _layout = item.layout || 'left'
  .row.clearfix.layout(class='layout-'+_layout)
    if _layout == 'left'
      .col-xs-12.col-sm-4.col-md-3.col-print-12.details
        +project_common(item)
      .col-xs-12.col-sm-8.col-md-9.col-print-12.content
        if item.quote 
          p.quote=item.quote        
        p=item.description
    if _layout == 'top-middle'
      .col-xs-12.col-print-12.details
        +project_common(item)
      .col-xs-12.col-print-12.content
        if item.quote 
          p.quote=item.quote        
        p
          | !{item.description}