-
  var analitics = !!analitics || false;
  var name = name ?? "Klenin Egor";
  var level = level ?? "Junior";
  var position = position ?? "Software Developer";
  var lang = lang ?? 'en';
  var social = social ?? {}

  var favicon = favicon ?? '/assets/favicon.ico'
  var params = {
    title: `${name} | ${level} ${position}`,
  };

doctype html
html(lang=lang)
  include includes/head.pug
  body
    include includes/header.pug
    main.page-content(aria-label="Content")
      .wrapper
        include includes/about.pug

        //- {%- if site.version == 2 -%}
        //-   {% for section in site.content %}
        //-     <div class="container {{ section.layout }}-container">
        //-       <h3 id="{{ section.title | slugify }}">{{ section.title }}</h3>
        //-       {% include {{ section.layout | prepend: "section-" | append: ".html" }} content=section.content %}
        //-     </div>
        //-   {% endfor %}
        //- {% else %}
        //-   {%- include v1/default.html -%}
        //- {%- endif -%}
    //- include include/footer.html